:root{
    font-size:16px;
    font-family: 'Open Sans', sans-serif;

    --text-primary : #b6b6b6;
    --text-secondary : #ececec;

    --bg-primary:#23232e;
    --bg-secondary:#141418;

    --transition-speed:0.5s;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    color:black;
    background-color:#afafaf;
}

body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
}
body::-webkit-scrollbar-thumb{
    background:#c5aa2f
}

main{
    margin-left: 5rem;
    padding: 1rem;
}

.navbar{
    width:5rem;
    height:100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 0.5s;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.nav-item{
    width:100%;

}

.nav-item:last-child{
    margin-top: auto;
}

.nav-link{
    display:flex;
    align-items:center;
    height:5rem;
    color:var(--text-primary);
    text-decoration:none;
    filter:grayscale(100%) opacity(0.7);
    transition:var(--transition-speed);
}
.nav-link:hover{
    filter:grayscale(0%) opacity(1);
    transition:var(--transition-speed);
    background:var(--bg-secondary);
    color:var(--text-secondary);
}

.link-text{
    display:none;
    margin-left:1rem;
}

.nav-link svg{
    max-width:2rem;
    margin:0 1.5rem;
}

.navbar:hover{
    width:16rem;
}
.navbar:hover .link-text{
    display:block;
}

.fa-primary{
    color:#f1d012;
    transition:var(--transition-speed);
}

.logo {
    font-weight:bold;
    margin-bottom:1rem;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    letter-spacing:0.3ch;
}

.logo svg{
    transform: rotate(0deg);
    transition:1s ease-in-out;
}

.navbar:hover .logo svg{
    transform: rotate(360deg);
}

.container{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
/* TEMPLATE DE LA SECTION CENTRALE TODO */

#person-img{
    width:50%;
    
}